/* line 7, ../scss/fonts.scss */
[class*="icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 17, ../scss/fonts.scss */
[class*="icon-"]:before {
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 2em;
}

/* line 23, ../scss/fonts.scss */
[class*="icon-social-"]:before {
  font-family: 'FoundiconSocial';
}

/* line 26, ../scss/fonts.scss */
[class*="icon-general-"]:before {
  font-family: 'FoundiconGeneralEnclosed';
}
