// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.icons-sprite {
  display: inline-block;
}


$icons-sprite-dimensions:true;
@import "icons/*.png";
@include all-icons-sprites;


@import "compass/css3";

@include font-face('Rokkitt', font-files('Rokkitt/rokkitt.woff','Rokkitt/rokkitt.ttf','Rokkitt/rokkitt.svg'), 'Rokkitt/rokkitt.eot');
@include font-face('Ubuntu', font-files('Ubuntu/ubuntu.woff','Ubuntu/ubuntu.ttf','Ubuntu/ubuntu.svg'), 'Ubuntu/ubuntu.eot');
@include font-face('PatuaOne', font-files('PatuaOne/patuaone.woff','PatuaOne/patuaone.ttf','PatuaOne/patuaone.svg'), 'PatuaOne/patuaone.eot');
@include font-face('Vegur Bold', font-files('Vegur-Bold/Vegur-Bold.woff','Vegur-Bold/Vegur-Bold.ttf','Vegur-Bold/Vegur-Bold.svg'), 'Vegur-Bold/Vegur-Bold.eot');


$overlay-color: rgb(19, 142, 180);
$main-color: #FFF5CB;
$shadow: #111 2px 2px 10px;
$border-radius: 10px;
$border-radius-small: 5px;
$about-color: #C1E6F1;
$about-header-color: #ffe04f;
$block-grid-default-spacing: 0px;

body {
  @include background(
    radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    $overlay-color image-url('bright_squares_2.png')
  );
  background-attachment: fixed;
  overflow-x: hidden;
}

header {
  margin-top: 50px !important;
  h1, h2 {
    color: #ddd;
    font-variant: small-caps;
  }

  .buttons {
    @include button-group-container;
    a {
      @include button;
      @include border-radius($border-radius);
      @include box-shadow($shadow);
      @include single-transition;
    }
    & > li { @include button-group-style(false); margin-left: 10px;}
  }
}

#main {
  @include panel;
  @include background($main-color image-url('fabric_of_squares_gray.png'));

  #about {
    background-color: $about-color;
    @include border-radius($border-radius-small);

    ul {
      list-style-type: none;
    }
    li {
      strong {
        color: #222;
        background-color: $about-header-color;
        font-variant: small-caps;
        font-family: $header-font-family
      }
    }
  }

  .social a {
    color: gray;
  }

  .social a:hover {
    color: blue;
  }
}

@media #{$screen} {
  .small-column {
    @include grid-column(12);
  }

  #social {
    @include block-grid(3);
  }

  #about {
    li {
      strong {
        @extend .small-column;
        padding-left: 10px;
      }
      a, span {
        @extend .small-column;
        padding-left: 20px;
      }
    }
  }
}

// Anything larger than 400px
@media only screen and (min-width: 400px)
{
  #social > li { clear: none !important; }

  #social {
    @include block-grid(9);
  }

  #main p {
    text-align: justify;
  }
}

// Anything smaller than 280px
@media only screen and (max-width: 280px)
{
  body {
    font-size: 0.8em;
  }
  header h1 {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px), only screen and (min-width: 920px) {


  #about {
    li {
      strong:after {
        @include css-triangle(5px, $about-header-color, left);
        position: absolute;
        right: -9px;
        top: 7px;
      }

      strong {
        @include grid-column(3);
        text-align: center;
        padding: 0;
      }
      a, span {
        @include grid-column(9);
      }
      strong, a, span {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}


// Screens > 1024px
@media only screen and (min-width: 1010px) {
  #main {
    @include border-radius($border-radius);
    @include box-shadow($shadow);
  }
}

@import 'shopify'
