@import "compass/css3";

@include font-face("PatuaOne", font-files("../fonts/PatuaOne-Regular.ttf"));
 
$overlay-color: rgb(19, 142, 180);
$shadow: #111 2px 2px 10px;
$border-radius: 10px;

body {
  @include background( 
    radial-gradient(50% 50%, ellipse farthest-corner, rgba(0,0,0, 0), rgba(0, 0, 0, 0.6)),
    $overlay-color url('../images/bright_squares_2.png') 
  );
  background-attachment: fixed;

}

header {
  margin-top: 50px !important;
  h2 {
    white-space: nowrap;
    font-family: "PatuaOne";
    color: #fff;
  }

  .buttons {
    @include button-group-container;
    a {
      @include button;
      @include border-radius($border-radius);
      @include box-shadow($shadow);
      @include single-transition;
    }
    & > li { @include button-group-style(false); margin-left: 10px;}
  }
}

#main {
  @include panel;
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include background($overlay-color url('../images/fabric_1.png'));
}
